<% layout('layouts/boilerplate') %>


  <h1 class="fw-bold">
    <%= trip.title %>
  </h1>
  <h6 class="text-secondary mb-2">
    <%= trip.start %>〜<%= trip.finish %>
  </h6>
  <div class="border-bottom mb-5 width"></div>


  <h2>スケジュール</h2>
  <div class="border-bottom mb-3 width"></div>



  <div>




    <% for (let i=0; i < plans.length; i++) { %>
      <div>



        <h4>
          <%= plans[i].time %>
        </h4>




      </div>

      <div class="card bg-gray mb-3">
        <div class="card-body">
          <h4 class="card-title fw-bolder">
            <%= plans[i].title %>
          </h4>
          <% plans[i].images.forEach(image=> { %>
            <img src="<%= image %>" alt="" class="img-fluid img-responsive" width="150" height="150">
            <% }); %>
              <p class="card-text">
                <%= plans[i].description %>
              </p>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">場所：<%= plans[i].location %>
          </li>
          <li class="list-group-item">費用：<%= plans[i].cost %>円
          </li>

        </ul>
      </div>

      <%} %>
  </div>
