<% layout('layouts/boilerplate') %>


  <h1 class="fw-bold">
    <%= trip.title %>

  </h1>
  <h6 class="text-secondary mb-2">
    <%= trip.start %>〜<%= trip.finish %>
  </h6>
  <h6>メンバー：<%= user.username %>　<%= sharedUser !==null ? sharedUser.username : "" %>
  </h6>
  <div class="border-bottom mb-5 width"></div>


  <h2>スケジュール</h2>
  <div class="border-bottom mb-3 width"></div>




  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">



        <% plans.forEach((plan, i )=> { %>

          <h4 class="mt-3">
            <%= plan.time %>
          </h4>



          <div class="card bg-gray mb-3">
            <div class="card-body">
              <h4 class="card-title fw-bolder">
                <%= plan.title %>
              </h4>
              <div id="<%=plan.title %>" class="carousel slide" data-bs-ride="carousel" data-bs-interval="0">

                <div class="carousel-inner">
                  <% plan.images.forEach((image, i)=> { %>

                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                      <img src="<%= image %>" src="..." class="d-block img-fluid" width="450" height="450" alt="...">

                    </div>
                    <% }); %>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#<%=plan.title %>"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#<%=plan.title %>"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>

              </div>



              <p class="card-text">
                <%= plan.description %>
              </p>

            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">場所：<%= plan.location %>
              </li>
              <li class="list-group-item">費用：<%= plan.cost %>円
              </li>
              <li class="list-group-item">日付：<%= plan.date %>
              </li>
            </ul>
          </div>









          <%}); %>
      </div>

    </div>
  </div>
  </div>
