<% layout('layouts/boilerplate') %>


  <h1 class="fw-bold">
    <%= trip.title %>
  </h1>
  <h6 class="text-secondary mb-2">
    <%= trip.start %>〜<%= trip.finish %>
  </h6>
  <div class="border-bottom mb-5 width"></div>


  <h2>スケジュール</h2>
  <div class="border-bottom mb-3 width"></div>



  <div>
    <% plans.forEach(plan=> {%>
      <div>


        <h4>
          <%= plan.time %>
        </h4>




      </div>

      <div class="card bg-gray mb-3">
        <div class="card-body">
          <h4 class="card-title fw-bolder">
            <%= plan.title %>
          </h4>
          <p class="card-text">
            <%= plan.description %>
          </p>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">場所：<%= plan.location %>
          </li>
          <li class="list-group-item">費用：<%= plan.cost %>円
          </li>
          <li class="list-group-item">日付：<%= plan.date %>
          </li>
        </ul>
      </div>

      <%}); %>
  </div>
